{% extends "base.html" %}

{% block content %}

<form action="/caller/add" method="post" class="max-w-2xl mx-auto my-10 bg-white rounded-lg shadow-md p-5">

    <div class="flex bg-red-100 rounded-lg p-4 mb-4 text-sm text-red-700" role="alert">
        <svg class="w-5 h-5 inline mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                clip-rule="evenodd"></path>
        </svg>
        <div>
            <span class="font-medium">
                No Previous Record Found. Please Add New Caller
            </span>
        </div>
    </div>
    <div class="mt-4">

        <label for="name" class="block font-semibold"> Name </label>
        <input type="text" placeholder="Name" name="name" required
            class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md">
    </div>

    <div class="mt-4">

        <label for="phone_number" class="block font-semibold"> Phone Number </label>
        <input type="number" placeholder="phone_number" name="phone_number" required id="phone_number"
            class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md"
            value="{{phone_number}}">
    </div>


    <div class="mt-4">

        <label for="department" class="block font-semibold ">Select Department</label>
        <select id="department" required name="department"
            class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
            <option disabled>Choose a Department</option>
            {% for ticket in departments %}

            <option value="{{ticket[0]}}">{{ticket[1]}}</option>



            {% endfor %}

        </select>
    </div>


    <div class="mt-4">

        <label for="jobtitle" class="block font-semibold"> Job Title</label>
        <input type="text" placeholder="Job Title" name="jobtitle" required
            class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md">
    </div>
    <button type="submit" class="mt-4 bg-green-500 text-white py-2 px-6 rounded-md hover:bg-purple-600 ">Add
        Caller</button>


</form>


{% endblock %}